<!doctype html>
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
<meta charset="UTF-8">
<title></title>
<!--
<link href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" rel="stylesheet">
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="loader"></div>
</body>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script>
$(function () {
    var tmparr_t = [];
    var tmparr_c = [];

    var s = new Date(new Date - 24 * 3600 * 1000 * 6 - 1 - 0);
    var e = new Date();
    var a = [];

    while(s < e) {
        var month = s.getMonth() + 1;
        var day = s.getDate();

        if (month < 10) {
            month = '0' + month;
        }

        if (day < 10) {
            day = '0' + day;
        }


        a.push(month+"-"+day);
        s = new Date(s.setDate(
            s.getDate() + 1
        ))
    }
    $.getJSON('words/getTrend/{{keyword}}', function(data){
           $.each(data, function(key, val){
                tmparr_t.push(val[0]);
                var rate = val[2];
                if (rate == "None"){
                    rate = 0;
                }
                tmparr_c.push(parseFloat(rate));
        })

    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        plotOptions : {
            spline: {
                dataLabels: {
                    enabled: true
                }
            },
            series: {
                connectNulls: true
            }
        },
        title: {
            text: '關鍵詞趨勢',
            x: -20 //center
        },
        xAxis: {
            categories: a
        },
        yAxis: {
            title: {
                text: '包含關鍵詞的新聞佔當天新聞比率'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
            allowDecimal: true
        },
        tooltip: {
            valueSuffix: '%'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: '{{ keyword }}',
            data: tmparr_c
        }]
    });
    })
});
</script>
</html>
